* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fdbf00;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 90vw;
  max-width: 320px;
  height: 220px;
  position: relative;
  perspective: 1200px;
}

.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50%;
}

.inside {
  background: linear-gradient(to right, #e7e7e7, #ffffff 30%);
  line-height: 1.5;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.outside {
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 1s;
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-color: #ffffff;
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
}

.cake {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.top-layer,
.middle-layer,
.bottom-layer {
  height: 40px;
  width: 120px;
  background-repeat: repeat;
  background-size: 30px 50px;
  background-position: 14px 0;
  background-image: linear-gradient(
      transparent 25px,
      #fedbab 25px,
      #fedbab 30px,
      transparent 30px
    ),
    radial-gradient(circle at 15px 3px, #994c10 15px, #fcbf29 16px);
  border-radius: 5px 5px 0 0;
  position: relative;
  margin: auto;
}

.middle-layer {
  transform: scale(0.85);
  top: 3px;
}

.top-layer {
  transform: scale(0.7);
  top: 13px;
}

.candle {
  height: 20px;
  width: 7px;
  background: repeating-linear-gradient(
    45deg,
    #fd3018 0,
    #fd3018 3px,
    #ffa89e 3px,
    #ffa89e 6px
  );
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 100px;
}

.candle:before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #ffa500;
  border-radius: 0 50% 50% 50%;
  bottom: 24px;
  transform: rotate(45deg);
  left: -1px;
}

.outside p {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 3px;
  color: #000046;
}

.inside h1 {
  font-size: 60px;
  line-height: 60px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .card {
    width: 90vw;
    max-width: 300px;
    height: 200px;
  }

  .top-layer,
  .middle-layer,
  .bottom-layer {
    height: 30px;
    width: 100px;
  }

  .candle {
    height: 18px;
    width: 6px;
    bottom: 90px;
  }

  .inside h1 {
    font-size: 50px;
  }
}
